[project]
name = "cherry-indexer"
version = "0.1.7"
description = "Library for building blockchain pipelines"
readme = "README.md"
license = "MIT OR Apache-2.0"
authors = [
  { name = "Enes Topuz", email = "tpzenes@gmail.com" },
  { name = "Ozgur Akkurt", email = "oezgurmakkurt@gmail.com" },
]
requires-python = ">=3.10"
dependencies = [
    "cherry-core>=0.0.14",
    "clickhouse-connect>=0.8.15",
    "pyarrow>=19.0.1",
    "pyiceberg>=0.8.1",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "ruff>=0.9.7",
]

